[submodule "To"]
	path = To
	url = https://github.com/eventuate-examples/eventuate-examples-java-spring-todo-list.git
[submodule "Java"]
	path = Java
	url = https://github.com/eventuate-examples/eventuate-examples-java-customers-and-orders.git
[submodule "eventuate-examples-java-aws-gateway-echo"]
	path = eventuate-examples-java-aws-gateway-echo
	url = https://github.com/eventuate-examples/eventuate-examples-java-aws-gateway-echo
[submodule "awsToDo"]
	path = awsToDo
	url = https://github.com/eventuate-examples/eventuate-examples-java-aws-lambda-todo-list
