[submodule "To"]
	path = To
	url = https://github.com/eventuate-examples/eventuate-examples-java-spring-todo-list.git
[submodule "Java"]
	path = Java
	url = https://github.com/eventuate-examples/eventuate-examples-java-customers-and-orders.git
